body{
    background-color: #368C9F !important;
    height: 100vh;
    padding-bottom: 50px;
    margin: 0;
    padding: 0;
    background-color: #368c9f;
    min-height: 100%;
    position: relative;
}

#kekholdcim{
    padding-top: 50px;
    text-align: center;
}
/*header*/
.dropbtn {
    background-color: #be9d6a;
    color: white;
    padding: 16px;
    font-size: 18px;
    border: none;
    text-decoration: none;
    width: 100vh;
    text-align: left;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    text-decoration: none;

  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #be9d6a;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-decoration: none!important; 
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none!important;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #be9d6a;}


header {
    display: block;  
    width: 100%; 
    font-size: xx-large;
    position: relative;
    padding-bottom: 40px;
    height: 60px;
    background-repeat: no-repeat center;
    background-size: cover!important;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #be9d6a;
    object-fit: cover;


    
  }
.linkek{
    text-shadow: 1x 1px 10px grey;
}



/* footer*/


footer{
    display: block;
    height: 120px;
    width: 100%;
    position: relative;
    background-image: url(footer.png);
    object-fit: cover;
    margin-top: -100px;
    clear: both;

}
footer ul {
    display: flex;
    justify-content: center;
    list-style-type:none;
    justify-content: space-between;
}

footer ul li a{
    
    color: white;
    margin: 20px;
    text-decoration: none !important;
    font-size: 60px;
    transition: 0.5s;
}
footer ul li a:hover{
    opacity: 1;
    color: grey;

}
#flink{
    font-family: fantasy;
}

/*linkek*/
a:link{
    color:white;
    text-decoration: none;
}
a:visited{
    color:white;
    text-decoration: none;
}
a:hover{
    color:white;
    text-decoration: none;
}
a:active{
    color:white;
    text-decoration: none;
}
#link{
    text-decoration: none;
    transition: 0.5s;
    text-align: center;
}
#link:hover{
    opacity: 1;
    color: grey !important;
    text-decoration: none;


}

/*menu,main*/

.container{
    
    padding: 100px;
    padding-bottom: 100px;
    height: 100%;
        
}

.menu1{
    float: left;
    width: 498px;
    height: 679px;
    

}
.menu2{
    float: right;
    width: 498px;
    height: 679px;
    
    
    
}
#menukep1{
    float: left;
    width: 498px;
    height: 679px;
    border-radius: 20px;
    
}
#menukep2{
    float: right;
    width: 498px;
    height: 679px;
    border-radius: 20px;
}







/*rendezvenyek,main*/

.container2{
    padding: 0 250px;
    padding-top: 60px;
    
}
#eskuvokep{
    
    height: 440px;
    width: 569px;
    object-fit: cover;
    border-radius: 45px;
    
}
#enekeskep{
    height: 440px;
    width: 569px;
    object-fit: cover;
    border-radius: 45px;
}
.eskuvo{
    float: left;
    height: 440px;
    width: 569px;
}
.enekes{
    float: right;
    height: 440px;
    width: 569px;
    
}

