body{
    background-color: #368C9F !important;
    height: 100vh;
    padding-bottom: 50px;
    margin: 0;
    padding: 0;
    background-color: #368c9f;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    
}

#kekholdcim{
    padding-top: 50px;
    text-align: center;
}
/*header*/
.dropbtn {
    background-color: #be9d6a;
    color: white;
    padding: 16px;
    font-size: 18px;
    border: none;
    text-decoration: none;
    width: 100px;
    text-align: left;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    text-decoration: none;

  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #be9d6a;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-decoration: none!important; 
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none!important;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #be9d6a;}


header {
    display: block;  
    width: 100%; 
    font-size: xx-large;
    position: relative;
    padding-bottom: 40px;
    height: 60px;
    background-repeat: no-repeat center;
    background-size: cover!important;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #be9d6a;
    object-fit: cover;


    
  }
.linkek{
    text-shadow: 1x 1px 10px grey;
}



/* footer*/
.footer {
    background-image: url(footer.png);
    margin-top: 100px;
    clear: both;
    height:fit-content; 
    background-size: cover;
    background-position: center;
    text-align: center;
    position: relative;
  }


  /*linkek*/
a:link{
    color:white;
    text-decoration: none;
}
a:visited{
    color:white;
    text-decoration: none;
}
a:hover{
    color:white;
    text-decoration: none;
}
a:active{
    color:white;
    text-decoration: none;
}
#link{
    text-decoration: none;
    transition: 0.5s;
    text-align: center;
}
#link:hover{
    opacity: 1;
    color: grey !important;
    text-decoration: none;


}

/*menu,main*/

.container{
    
    padding: 100px;
    padding-bottom: 100px;
    height: 100%;
        
}

.menu1{
    float: left;
    width: 498px;
    height: 679px;
    

}
.menu2{
    float: right;
    width: 498px;
    height: 679px;
    
    
    
}
#etelekep{
    
    border-radius: 20px;
    
}
#italokep{
 
    border-radius: 20px;
}







/*rendezvenyek,main*/

.container2{
    padding: 0 250px;
    padding-top: 60px;
    
}
#eskuvokep{
    
    height: 440px;
    width: 569px;
    object-fit: cover;
    border-radius: 45px;
    
}
#enekeskep{
    height: 440px;
    width: 569px;
    object-fit: cover;
    border-radius: 45px;
}
.eskuvo{
    float: left;
    height: 440px;
    width: 569px;
}
.enekes{
    float: right;
    height: 440px;
    width: 569px;
    
}

/*Főoldal*/
#fooldalcont{
    display: flex;
    justify-content: center;
}
#menu{
float: left;
}
#rendezvenyek{
    border-radius: 20px;
    margin-top: 300px;
    width: 395;
    height: 215px;
    margin-left: -50px;
    
}
.asztalfoglalas{
    float: right;
    border-radius: 20px;
    height: 215px;
    width: 395px;
}
#fooldalszoveg{
    text-align: center;
    font-size: xx-large;
}


#ido{
    font-size: xx-large;
}






.time-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.time-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Adjust as needed */
  }

.time {
    margin-right: 10px; /* Adjust as needed */
  }

.box {
    display: inline-block;
    padding: 5px;
    background-color: green;
    width: 60px;
    height: 35px;
    font-size: 14px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none!important;
    transition: 0.15s;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: bold;
  }

.box:hover{
    color: grey;
    opacity: 1;
}

.balkep, .kozepkep, .thumbnail {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.balkep a, .kozepkep a, .thumbnail a {
    display: block;
  }
  
#fooldalszoveg {
    margin-top: 10px;
  }


.img-center {
    max-height: 100%;
    max-width: 100%;
    height: 70%;
    width: 70%;
    margin: 0 auto;
    display: block;
}



.rendezvenyek{
    border-radius: 20px;
}



@media only screen and (max-width: 800px) {
    .footer{
        margin-top: 500px;
    }
  }